<template>
  <div class="input-box">
    <b-form-group :label-cols="label ? 3 : 0" :label="label" label-align="right">
      <b-form-input :value="value" @input="$emit('input', $event)" />
      <small class="message" v-if="message">{{ message }}</small>
    </b-form-group>
  </div>
</template>

<script>
export default {
  name: 'InputBox',
  props: {
    label: String,
    value: String,
    message: String,
  },
};
</script>
