<template>
  <div class="inputList">
    <label class="label">{{ label }}</label>
    <InputBox v-for="(item, index) in value" :key="index" :value="item" @input="updateItem(index, $event)"></InputBox>
    <b-button variant="primary" class="addButton" @click="addItem">
      Add +
    </b-button>
  </div>
</template>

<script>
import InputBox from '@/components/create/InputBox';

export default {
  name: 'InputList',
  components: {
    InputBox,
  },
  props: {
    label: String,
    value: Array,
  },
  methods: {
    updateItem(position, value) {
      this.$emit('input', [...this.value.slice(0, position), value, ...this.value.slice(position + 1)]);
    },
    addItem() {
      this.$emit('input', [...this.value, '']);
    },
  },
};
</script>

<style lang="scss" scoped>
.inputList {
  margin-bottom: 20px;
}

.label {
  width: 100%;
}
</style>
