<template>
  <div class="keyValueList">
    <label class="label">{{ label }}</label>
    <span v-for="(item, index) in value" :key="index">
      <InputBox class="key" label="Key" :value="item.key" @input="updateItem(index, 'key', $event)"></InputBox>
      <InputBox class="value" label="Value" :value="item.value" @input="updateItem(index, 'value', $event)"></InputBox>
    </span>
    <b-button variant="primary" class="addButton" @click="addItem">
      Add +
    </b-button>
  </div>
</template>

<script>
import InputBox from '@/components/create/InputBox';

export default {
  name: 'KeyValueList',
  components: {
    InputBox,
  },
  props: {
    label: String,
    value: Array,
  },
  methods: {
    updateItem(position, type, value) {
      this.$emit('input', [
        ...this.value.slice(0, position),
        { ...this.value[position], [type]: value },
        ...this.value.slice(position + 1),
      ]);
    },
    addItem() {
      this.$emit('input', [...this.value, { key: '', value: '' }]);
    },
  },
};
</script>

<style lang="scss" scoped>
.keyValueList {
  margin-bottom: 20px;
}

.label {
  width: 100%;
}

.key,
.value {
  width: 50%;
  float: left;
}
</style>
