<template>
  <div class="service">
    <InputBox
      :class="{ error: errors.uniqueName }"
      label="Service Name"
      v-model="getName"
      :message="errors.uniqueName ? 'Error: Please provide a unique name for each service' : ''"
    />
    <InputBox label="Docker Image" v-model="getImage" />
    <InputList label="Ports" v-model="getPorts" />
    <KeyValueList label="Environment Variables" v-model="getEnvironment" />
  </div>
</template>

<script>
import InputBox from '@/components/create/InputBox';
import InputList from '@/components/create/InputList';
import KeyValueList from '@/components/create/KeyValueList';

export default {
  name: 'Service',
  components: {
    KeyValueList,
    InputList,
    InputBox,
  },
  props: {
    name: String,
    image: String,
    ports: Array,
    environment: Array,
    errors: Object,
  },
  computed: {
    getName: {
      get() {
        return this.name;
      },
      set(newValue) {
        this.$emit('change', { param: 'name', value: newValue });
      },
    },
    getImage: {
      get() {
        return this.image;
      },
      set(newValue) {
        this.$emit('change', { param: 'image', value: newValue });
      },
    },
    getPorts: {
      get() {
        return this.ports;
      },
      set(newValue) {
        this.$emit('change', { param: 'ports', value: newValue });
      },
    },
    getEnvironment: {
      get() {
        return this.environment;
      },
      set(newValue) {
        this.$emit('change', { param: 'environment', value: newValue });
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.error {
  color: red;
}
</style>
