<template>
  <div class="create">
    <h2>Create Docker Compose configuration</h2>
    <b-button variant="success" class="createButton" @click="create">
      Create
    </b-button>
    <span class="controls">
      <b-button variant="primary" class="previousButton" @click="navigateService(-1)" :disabled="selectedService <= 0">
        &lt; Previous
      </b-button>
      <span class="serviceName">
        Service {{ selectedService + 1 }}
        {{ currentService && currentService.name ? `(${currentService.name})` : '' }}
      </span>
      <b-button variant="primary" class="newButton" @click="lastService ? addNewService() : navigateService(+1)">
        {{ lastService ? '+ Add' : 'Next &gt;' }}
      </b-button>
    </span>
    <div class="services">
      <Service v-bind="currentService" v-if="currentService" @change="modifyService" :errors="errors" />
    </div>
    <b-modal size="xl" ref="display-yaml" title="Docker Compose YAML configuration" scrollable ok-only>
      <pre ref="yaml-text">{{ yamlText }}</pre>
      <b-button class="copyButton" @click="copyYaml">
        Copy
      </b-button>
    </b-modal>
  </div>
</template>

<script>
import Service from '@/components/create/Service';
import axios from 'axios';

export default {
  name: 'Create',
  components: {
    Service,
  },
  data() {
    return {
      services: [],
      selectedService: 0,
      yamlText: '',
    };
  },
  computed: {
    lastService() {
      return this.selectedService >= this.services.length - 1;
    },
    currentService() {
      return this.services && this.services[this.selectedService];
    },
    errors() {
      return { uniqueName: this.services.filter(it => it.name === this.currentService.name).length > 1 };
    },
  },
  methods: {
    addNewService() {
      this.services.push({
        name: '',
        image: '',
        ports: [],
        environment: [],
      });
      this.selectedService = this.services.length - 1;
    },
    navigateService(amount) {
      if (this.selectedService + amount < 0) {
        this.selectedService = 0;
      } else if (this.selectedService + amount >= this.services.length) {
        this.selectedService = this.services.length - 1;
      } else {
        this.selectedService = this.selectedService + amount;
      }
    },
    modifyService({ param, value }) {
      this.$set(this.currentService, param, value);
    },
    alertUser(message, error = false) {
      this.$bvToast.toast(message, {
        title: error ? 'Error' : 'Info',
        autoHideDelay: 5000,
        appendToast: true,
        variant: error ? 'danger' : 'primary',
      });
    },
    create() {
      axios
        .post('http://localhost:3000/create', {
          services: this.services.reduce((acc, it) => {
            if (it.name) {
              acc[it.name] = {
                ...it,
                name: undefined,
                environment: it.environment.reduce((acc, it) => {
                  if (it.key && it.value) {
                    acc[it.key] = it.value;
                  }
                  return acc;
                }, {}),
              };
            }
            return acc;
          }, {}),
        })
        .then(response => {
          if (response.data.success) {
            this.yamlText = response.data.compose;
            this.$refs['display-yaml'].show();
          } else {
            this.alertUser('Server error. Please try again later.', true);
          }
        })
        .catch(e => {
          console.error(e);
          this.alertUser('Could not connect to server. Please try again later.', true);
        });
    },
    copyYaml() {
      this.$copyText(this.yamlText, this.$refs['yaml-text']).then(
        () => this.alertUser('Copied to clipboard.'),
        e => {
          console.error(e);
          this.alertUser('Could not copy to the clipboard.', true);
        }
      );
    },
  },
  mounted() {
    this.addNewService();
  },
};
</script>

<style lang="scss" scoped>
.controls {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .previousButton,
  .newButton {
    width: 103px;
  }
}

.services {
  clear: both;
}

.createButton {
  width: 100%;
  position: sticky;
  top: 15px;
  z-index: 10;
}
.copyButton {
  position: absolute;
  top: 15px;
  right: 15px;
}
</style>
