<template>
  <div class="home">
    <h2>What is this used for?</h2>
    <p>
      This is a website to make it easier to create Docker Compose YAML files. Use this tool to create and save your
      configurations and share them with other users. To get started, try creating a Docker Compose file.
    </p>
  </div>
</template>

<script>
export default {
  name: 'Home',
};
</script>

<style lang="scss" scoped>
.home {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
</style>
